<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{public/header :: header}">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<!--Wrapper begin-->
<div class="wrapper">
    <nav th:replace="~{public/nav :: nav}" ></nav>
    <aside th:replace="~{public/aside :: aside}"></aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">订单管理</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">首页</a></li>
                            <li class="breadcrumb-item active">订单列表</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!--products list begin-->
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">产品列表</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>订单ID</th>
                                        <th>订单编码</th>
                                        <th>产品名称</th>
                                        <th>产品价格</th>
                                        <th>订单价格</th>
                                        <th>订单时间</th>
                                        <th>支付状态</th>
                                        <th>下单人</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="item : ${orders}">
                                        <td th:text="${item.id}"></td>
                                        <td th:text="${item.orderNum}"></td>
                                        <td th:text="${item.product.productName}"></td>
                                        <td th:text="${item.product.productPrice}"></td>
                                        <td th:text="${item.orderPrice}"></td>
                                        <td th:text="${item.createTime}"></td>
                                        <td th:text="${item.orderStatusStr}"></td>
                                        <td th:text="${item.user.nickname}"></td>
                                        <td>
                                            <a th:href="@{/order/delete.do(id=${item.id})}"><button type="button" class="btn btn-danger btn-xs">删除</button></a>
                                            <a th:href="@{/order/detail.do(id=${item.id})}"><button type="button" class="btn btn-primary btn-xs">详情</button></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </section>
                    <!-- /.card -->
        <!--products list end-->
    </div>
</div>
<!--Wrapper end-->
<div th:replace="~{public/footer :: footer}" ></div>
</body>
</html>